body::before {
    display:block;
    content: "";
    height:60px;
}

@media (min-width: 768px) {
    .hello-input {
        width: 50%;
    }
}


.small-img {
    max-height: 500px;
    
}


.parallax {
    height: 500px;
    background-image: url(img/aleks-dorohovich-nJdwUHmaY8A-unsplash.jpg);
    max-height: 100% ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.medium-img {
    height: 500px
}

.card.bg-secondary.text-light {
    min-height: 600px;
}

